<div class="chat">
  <div class="chat-log">
    <div class="chat-messages" *ngFor="let item of chatlogs">
      <div class="left-message" *ngIf="item.type === 2">{{item.message}}</div>
      <div class="right-message" *ngIf="item.type === 1">{{item.message}}</div>
    </div>

  </div>
  <div class="input-chat">
    <input type="text" [(ngModel)]="inputChat" (keyup.enter)="sendMessage()">
    <label for="file-input">
      <img class="image-input-icon" src="https://i.pinimg.com/originals/42/e5/75/42e57506108bd78fdc44159a04dd44fb.png"/>
    </label>
    <input
         id="file-input"
         class="image-input"
         type="file"
         accept="image/*"
         (change)="selectFile($event)">
    <img class="send-image" src="https://cdn-icons-png.flaticon.com/512/2343/2343805.png" (click)="sendMessage()">
  </div>
</div>
